parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Lordjoo\\\\LaraApigee\\\\Api\\\\Edge\\\\Services\\\\AppCredentialsService\\<TCredential of Lordjoo\\\\LaraApigee\\\\Api\\\\Edge\\\\Entities\\\\AppCredential\\>\\:\\:\\$developerId\\.$#"
			count: 1
			path: src/Api/Edge/Services/AppCredentialsService.php
