parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Lordjoo\\\\LaraApigee\\\\Api\\\\Edge\\\\Services\\\\AppCredentialsService\\<TCredential of Lordjoo\\\\LaraApigee\\\\Api\\\\Edge\\\\Entities\\\\AppCredential\\>\\:\\:\\$developerId\\.$#"
			count: 1
			path: src/Api/Edge/Services/AppCredentialsService.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#3 \\$response \\(Psr\\\\Http\\\\Message\\\\ResponseInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Exceptions/BadRequestException.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#4 \\$previous \\(Throwable\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Exceptions/BadRequestException.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#4 \\$previous \\(Throwable\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Exceptions/NotFoundException.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#3 \\$response \\(Psr\\\\Http\\\\Message\\\\ResponseInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Exceptions/ServerErrorException.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#4 \\$previous \\(Throwable\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Exceptions/ServerErrorException.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#1 \\$decodingImpl \\(Lordjoo\\\\LaraApigee\\\\Utility\\\\Serializer\\\\JsonDecode\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Utility/Serializer/JsonEncoder.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#1 \\$classMetadataFactory \\(Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\Factory\\\\ClassMetadataFactoryInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Utility/Serializer/Normalizers/ObjectNormalizer.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#2 \\$nameConverter \\(Symfony\\\\Component\\\\Serializer\\\\NameConverter\\\\NameConverterInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Utility/Serializer/Normalizers/ObjectNormalizer.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#3 \\$propertyAccessor \\(Symfony\\\\Component\\\\PropertyAccess\\\\PropertyAccessorInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Utility/Serializer/Normalizers/ObjectNormalizer.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#4 \\$propertyTypeExtractor \\(Symfony\\\\Component\\\\PropertyInfo\\\\PropertyTypeExtractorInterface\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: src/Utility/Serializer/Normalizers/ObjectNormalizer.php
